<h2>See the below product List !!</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>  Id</th>
            <th> Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Description</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{pobj.pid}}</td>
            <td>{{pobj.pname}}</td>
            <td>{{pobj.price}}</td>
            <td>{{pobj.qty}}</td>
            <td>{{pobj.desc}}</td>
            <td>{{pobj.discount}}</td>
        </tr>
    </tbody>
</table>